.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 50px;
}
.flexItem {
  flex: 0 0 48%;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
  padding: 5px 5px 10px 5px;
  margin-bottom: 5px;
  background-color: #ffffff;
  border-radius: 2px;
}
.image {
  display: inline-block;
  width: 100%;
}
.title {
  color: #333333;
  font-size: 12px;
  line-height: 1.2rem;
  text-align: left;
}
.loading {
  background-color: transparent;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.price {
  color: #333333;
  font-size: 12px;
  line-height: 1.2rem;
  text-align: left;
}
